<div class="container pt-3" *ngIf="cmsData">
  <a href="admin" class="btn btn-warning w-10">Ga terug</a> <br/><br/><br/>
  <form>
    <div class="form-group">
      <label for="homeTitle">Home Title</label>
      <input type="text" [(ngModel)]="cmsData.homeTitle" class="form-control" id="homeTitle" name="homeTitle" required>
    </div>
    <div class="form-group">
      <label for="title">Home Subtitle</label>
      <input type="text" [(ngModel)]="cmsData.homeSubtitle" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="paragraph">Home Paragraph</label>
      <textarea type="text" [(ngModel)]="cmsData.homeParagraph" class="form-control" id="paragraph" name="paragraph" required></textarea>
    </div>
    <div class="form-group">
      <label for="banner">Home Banner</label>
      <input type="text" [(ngModel)]="cmsData.banner" class="form-control" id="banner" name="banner" required>
    </div><br/>
    <div class="form-group">
      <h1>CTA knop</h1>
      <label for="ctaText">Knop tekst</label>
      <input type="text" [(ngModel)]="cmsData.cta.text" class="form-control" id="ctaText" name="ctaText" required>
      <label for="ctaText">Knop type</label><br/>
      <select [(ngModel)]="cmsData.cta.type" name="ctaType" id="ctaType">
        <option value="vote">Stemmen</option>
        <option value="finalists">Ga naar finalisten</option>
      </select><br/>
      <input type="checkbox" [(ngModel)]="cmsData.cta.visible" id="ctaVisible" name="ctaVisible" value="ctaVisible">
      <label for="ctaVisible">Knop zichtbaar</label><br>
      <input type="checkbox" [(ngModel)]="cmsData.cta.enabled" id="ctaEnabled" name="ctaEnabled" value="ctaEnabled">
      <label for="ctaEnabled">Knop klikbaar</label><br>
    </div><br/>
    <div class="form-group">
      <h1>Video</h1>
      <label for="src">Video URL</label>
      <input type="text" [(ngModel)]="cmsData.video.src" class="form-control" id="src" name="src" required>
      <label for="sourceURL">Source URL</label>
      <input type="text" [(ngModel)]="cmsData.video.sourceURL" class="form-control" id="sourceURL" name="sourceURL" required>
      <label for="sourceName">Video Bronnaam</label><br/>
      <input type="text" [(ngModel)]="cmsData.video.sourceName" class="form-control" id="sourceName" name="sourceName" required>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" (click)="submit()">
      Submit
    </button>
    <p *ngIf="submitted">Toegevoegd!</p>
  </form>
</div>
