<section id="heroContent" class="d-flex align-items-center hero">

  <div class="container" *ngIf="cmsData">
    <div class="row">
      <div class="col-lg-4 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 style="color: #3a3a3a">Helden van de Helpdesk</h1>
        <h2>Content pagina</h2>
        <p>{{cmsData.intro}}</p>
      </div>
      <div class="col-lg-8 order-1 order-lg-2 hero-img">
        <img
          src="../../../assets/hvhLanding.jpg"
          class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section><!-- End Hero -->

<section id="CategoryPosts" class="p-5">
    <div class="container">
      <div class="row">

        <div class="col-12 col-md-6 col-xl-4 card-column pb-3" *ngFor="let content of contents">
          <div class="card border-2 h-100">
            <!-- card-header -->
            <div >

              <span class="btn-topic m-4 p-2">{{content.topic}}</span>
            </div>
            <!-- card-img -->
            <a href="/content/{{content.id}}">
                <img style="width: 100%" height="150px"  src="{{content.img}}" alt="Digital self-service" loading="lazy">
            </a>
            <!-- card-body -->
            <div class="card-body">
              <a href="/content/{{content.id}}">
                <h3 class="card-title">{{content.title}}</h3>
              </a>
              <div>
                <p>{{content.bannerIntro}}</p>
                <p>...<a class="card-readmore" href="/content/{{content.id}}">
                  Read more                </a></p>
              </div>
            </div>
            <!-- card-footer -->
            <div class="card-footer bg-transparent">
              <h4>By <a href="#" rel="author">{{content.author}}</a> on {{content.date}}</h4></div>
          </div>
        </div>
      </div>
    </div>
</section>
