<meta property="og:image" content="{{content.img}}">
<section id="heroContentPost" class="hero mb-5" style="margin-top: -3rem;">
  <div *ngIf="content">
    <div class="container hero-img mt-3">
      <img *ngIf="content.img"
           src="{{content.img}}" style="max-height: 300px"
           alt="{{content.title}} banner" title="{{content.title}} banner">
      <img style="max-height: 300px" *ngIf="!content.img"  src="../../../assets/hvhLanding.jpg" alt="Digital self-service" loading="lazy">
    </div>
  </div>
</section>
<section id="PostContent" class="post-content pt-lg-5" *ngIf="content">
  <div class="container pt-5">
    <h1 id="postTitle">{{content.title}}</h1>
  </div>
  <!-- Primary Category/Author/Date -->
  <div class="container post-info">
    <div class="row">
      <div class="col-12 offset-lg-1 col-lg-9 col-xl-8">
        <span class="btn-topic mt-4 mb-2 p-2">{{content.topic}}</span>
        <h3><strong>By <a href="#" rel="author">{{content.author}}</a> on {{content.date}}</strong></h3>
      </div>
    </div>
  </div>
  <!-- flex content -->
  <div class="container post-text">
    <div class="row">
      <div class="col-12 offset-lg-1 col-lg-9 col-xl-8">
        <b>{{content.intro}}</b>
      </div>
    </div>
  </div>

  <div class="container post-text pt-3">
    <div class="row">
      <div class="col-12 offset-lg-1 col-lg-9 col-xl-8">
        <div *ngFor="let subcontent of content.subcontents">
          <h2 *ngIf="subcontent.title">{{subcontent.title}}</h2>
          <p [innerHTML]="subcontent.html"></p>
          <figure *ngIf="subcontent.img" class="text-center">
            <img src="{{subcontent.img}}" alt="{{subcontent.img}}" style="max-width: 100%;"
                 alt="Elephant at sunset">
            <figcaption *ngIf="subcontent.imgDesc" class="image_caption">{{subcontent.imgDesc}}</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="w3-content w3-display-container" *ngIf="content.slideshowImages">
      <img class="mySlides" *ngFor="let img of content.slideshowImages" src="{{img}}" style="width:100%">

      <button class="w3-button w3-black w3-display-left" (click)="plusImg(-1)">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" (click)="plusImg(1)">&#10095;</button>
    </div>
  </div>

</section>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
