<section id="heroContentPost" class="hero mb-5" style="margin-top: -3rem;">
  <div *ngIf="content">
    <div class="container pt-3">
      <h1>{{content.title}}</h1>
    </div>
    <div class="container hero-img">
      <img *ngIf="content.img"
           src="{{content.img}}" style="max-height: 300px"
           alt="{{content.title}} banner" title="{{content.title}} banner">
    </div>
  </div>
</section>

<section id="PostContent" class="post-content pt-lg-5" *ngIf="content">

  <!-- Primary Category/Author/Date -->
  <div class="container post-info">
    <div class="row">
      <div class="col-12 offset-lg-1 col-lg-9 col-xl-8">
        <span class="btn-topic mt-4 mb-2 p-2">{{content.topic}}</span>
        <h3><strong>By <a href="#" rel="author">{{content.author}}</a> on {{content.date}}</strong></h3>
      </div>
    </div>
  </div>
  <!-- flex content -->
  <div class="container post-text">
    <div class="row">
      <div class="col-12 offset-lg-1 col-lg-9 col-xl-8">
        <b>{{content.intro}}</b>
      </div>
    </div>
  </div>

  <div class="container post-text pt-3">
    <div class="row">
      <div class="col-12 offset-lg-1 col-lg-9 col-xl-8">
        <div *ngFor="let subcontent of content.subcontents">
          <h2 *ngIf="subcontent.title">{{subcontent.title}}</h2>
          <p [innerHTML]="subcontent.html"></p>
          <figure *ngIf="subcontent.img" class="text-center">
            <img src="{{subcontent.img}}" alt="{{subcontent.img}}" style="max-width: 100%;"
                 alt="Elephant at sunset">
            <figcaption *ngIf="subcontent.imgDesc" class="image_caption">{{subcontent.imgDesc}}</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

</section>
