#heroContentPost {
  border-top: 48px solid #fff;
  padding-bottom: 4rem;
  width: 100%;
  height: 40vh;
  background: linear-gradient(0deg,#b7ebe7,#b7ebe7) no-repeat,linear-gradient(to bottom right,#b7ebe7 49%,transparent 50%) no-repeat;
}
