<div>
  <h1>Je gaat stemmen op {{data.firstname}} {{data.lastname}}</h1>
  <div class="form-group">
    <label for="email">Jouw e-mailadres</label>
    <input type="email" [(ngModel)]="data.voterEmail" class="form-control" id="email" placeholder="Jouw e-mailadres" required>
  </div>
  <br/>
  <!--<div id="errMsg" class="alert alert-danger mt-3" *ngIf="showError">{{errorMessage}}</div>-->
  <button type="submit" [mat-dialog-close]="data" class="btn mt-4 btn-get-started" [disabled]="disableForm()">Stem hier op jouw held</button>
  <br/><br/><br/>
</div>
