<div class="container pt-3">
  <a href="admin/finalisten" class="btn btn-warning w-10">Ga terug</a> <br/><br/><br/>
  <form>
    <div class="form-group">
      <label for="firstname">Voornaam*</label>
      <input type="text" [(ngModel)]="finalist.firstname" class="form-control" id="firstname" name="firstname"
             placeholder="Pam" required>
    </div>
    <div class="form-group">
      <label for="lastname">Achternaam*</label>
      <input type="text" [(ngModel)]="finalist.lastname" class="form-control" id="lastname" name="lastname"
             placeholder="Halpert" required>
    </div>
    <div class="form-group">
      <label for="company">Bedrijf</label>
      <input type="text" [(ngModel)]="finalist.company" class="form-control" id="company" name="company" placeholder="Dunder Mifflin" required>
    </div>
    <div class="form-group">
      <label for="motivation">Motivatie</label>
      <textarea [(ngModel)]="finalist.motivation" class="form-control" id="motivation" name="motivation" placeholder="Beste in de receptie" required></textarea>
    </div>
    <div class="form-group">
      <label for="img">Foto</label>
      <input type="url" [(ngModel)]="finalist.img" class="form-control" id="img" name="img">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" (click)="editFinalist()"
            [disabled]="this.finalist.firstname.length <= 1 || this.finalist.lastname.length <= 1 || this.finalist.company.length <= 1 || this.finalist.img.length <= 1">
      Submit
    </button>
    <p *ngIf="submitted">Toegevoegd!</p>
  </form>
  <br/>
  <h1>{{finalist.votes.length}} stemmen ontvangen</h1>
  <span>Stemmen gekregen van:</span>
  <table class="table table-striped mt-3">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">E-mail Publisher</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fv of finalist.votes; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{fv.voterEmail}}</td>
      <td>{{toDateTime(fv.date.seconds)}}</td>
      <td><button class="btn btn-danger" (click)="deleteVote(fv.id)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
