<div class="container pt-3">
  <a href="admin/nominees" class="btn btn-warning w-10">Ga terug</a> <br/><br/><br/>
  <span class="w-10 float-end">Date submitted: {{nominee.date}}</span> <br/><br/><br/>
  <form>
    <div class="form-group">
      <label for="email">Email submitter</label>
      <input type="text" [(ngModel)]="nominee.email" class="form-control" id="email" name="email" readonly>
    </div>
    <div class="form-group">
      <label for="phone">Phone submitter</label>
      <input type="text" [(ngModel)]="nominee.phone" class="form-control" id="phone" name="phone" readonly>
    </div>
    <div class="form-group">
      <label for="firstname">Firstname nominee</label>
      <input type="text" [(ngModel)]="nominee.firstname" class="form-control" id="firstname" name="firstname" readonly>
    </div>
    <div class="form-group">
      <label for="lastname">Lastname nominee</label>
      <input type="text" [(ngModel)]="nominee.lastname" class="form-control" id="lastname" name="lastname" readonly>
    </div>
    <div class="form-group">
      <label for="company">Company</label>
      <input type="text" [(ngModel)]="nominee.company" class="form-control" id="company" name="company" readonly>
    </div>
    <div class="form-group">
      <label for="motivation">Motivation</label>
      <textarea [(ngModel)]="nominee.motivation" class="form-control" id="motivation" name="motivation" readonly></textarea>
    </div>
  </form>
  <br/>
  <h1>Deze persoon is {{allNominators.length}} keer genomineerd</h1>
  <span>Ook genomineerd door:</span>
  <ol>
    <li *ngFor="let n of allNominators">
      <a href="admin/nominees/{{n.id}}"> {{n.email}} - {{n.motivation}} </a>
    </li>
  </ol>
</div>
