<div class="container mt-3">
  <button (click)="logout()" class="btn btn-warning w-10 float-end">Log uit</button> <br/><br/><br/>
  <h1 class="d-flex justify-content-center">Welkom op het admin panel.</h1>
  <p class="d-flex justify-content-center">Hier kunt u navigeren door de verschillende admin functies.</p>
  <div class="row mt-5">
    <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
      <h1 style="font-weight: bold" class="d-flex justify-content-center">Alle genomineerden</h1>
      <div class="d-flex justify-content-center">
        <a href="admin/nominees" class="btn btn-secondary" mat-raised-button>Ga naar genomineerden</a>
      </div>
    </div>
    <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
      <h1 style="font-weight: bold" class="d-flex justify-content-center">Edit content posts</h1>
      <div class="d-flex justify-content-center">
        <a href="admin/contentList" class="btn btn-secondary" mat-raised-button>Goto content</a>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
      <h1 style="font-weight: bold" class="d-flex justify-content-center">Home page</h1>
      <div class="d-flex justify-content-center">
        <a href="admin/homeCMS" class="btn btn-secondary" mat-raised-button>Home page tekst aanpassen</a>
      </div>
    </div>
    <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
      <h1 style="font-weight: bold" class="d-flex justify-content-center">Nieuws page</h1>
      <div class="d-flex justify-content-center">
        <a href="admin/contentCMS" class="btn btn-secondary" mat-raised-button>Nieuws page tekst aanpassen</a>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
      <h1 style="font-weight: bold" class="d-flex justify-content-center">Finalisten</h1>
      <div class="d-flex justify-content-center">
        <a href="admin/finalisten" class="btn btn-secondary" mat-raised-button>Ga naar finalisten</a>
      </div>
    </div>
    <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
      <h1 style="font-weight: bold" class="d-flex justify-content-center">Finalist page</h1>
      <div class="d-flex justify-content-center">
        <a href="admin/finalistCMS" class="btn btn-secondary" mat-raised-button>Finalist page tekst aanpassen</a>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
      <h1 style="font-weight: bold" class="d-flex justify-content-center">Pagina's</h1>
      <div class="d-flex justify-content-center">
        <a href="admin/pages" class="btn btn-secondary" mat-raised-button>Manage pagina's</a>
      </div>
    </div>
  </div>
</div>
